/*homepage section*/
.homepage .homePic{
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&s=45c5cf82d2ba1d33849dcd0b678ec566&auto=format&fit=crop&w=1052&q=80');
	background-size: cover;
	background-position: 30%;
	
}

.homepage .homeRight{
	background-color: #003366;
}


/*example section*/
.space{
	border: 2px solid black;
	height: 200px;
	background-color: white ;
}

.examples_title{
	padding: 35px 0 35px 75px;
	font-size: 24px;
	color: #003366;
	text-align: center;
}

.examples_text{
	padding: 25px 60px 25px 0;
	font-size: 16px;
	color: #003366;
}

.examples .row{
	display: flex;
	justify-content: space-around;
}

.sb-preview-img img:hover{
	opacity: 0.7;
	transition: 0.2s ease-in ;
}

@media (max-width: 768px) {
	.examples_title{
		padding-right: 75px;
		padding-bottom: 5px;
		font-size: 30px;
	}

	.examples_text{
		padding-top: 5px;
		padding-left: 60px;
		font-size: 15px;
}

























